<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2005, 2014 IBM Corporation, Embarcadero Technologies, CEA, and others.
 All rights reserved.   This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html

 Contributors:
   IBM - initial API and implementation
   Kenn Hussey (Embarcadero Technologies) - 215418
   Kenn Hussey - 367817
   Kenn Hussey (CEA) - 418466

-->

<plugin>
    
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory 
       uri = "http://www.eclipse.org/uml2/5.0.0/UML" 
       class = "org.eclipse.uml2.uml.edit.providers.UMLItemProviderAdapterFactory" 
       supportedTypes = 
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemColorProvider
          org.eclipse.emf.edit.provider.IItemFontProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
  </extension>

</plugin>

