<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
/*
 * Copyright (c) 2005 IBM Corporation and others.
 * All rights reserved.   This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors: 
 *   IBM - initial API and implementation
 *
 * $Id: plugin.xml,v 1.2 2005/05/18 19:47:21 khussey Exp $
 */
-->

<plugin
    name = "%pluginName"
    id = "org.eclipse.uml2.codegen.ecore"
    version = "1.1.0"
    provider-name = "%providerName"
    class = "org.eclipse.uml2.codegen.ecore.CodeGenEcorePlugin$Implementation">

  <requires>
    <import plugin="org.eclipse.core.runtime" />
    <import plugin="org.eclipse.core.resources"/>
    <import plugin="org.eclipse.emf.ecore" export="true"/>
    <import plugin="org.eclipse.emf.codegen.ecore" export="true"/>
    <import plugin="org.eclipse.jdt.core"/>
  </requires>

  <runtime>
    <library name="uml2.codegen.ecore.jar">
      <export name="*"/>
    </library>
  </runtime>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/uml2/1.1.0/GenModel" 
       class = "org.eclipse.uml2.codegen.ecore.genmodel.GenModelPackage"
       genModel = "model/GenModel.genmodel"/>
  </extension>

</plugin>

