<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2005, 2009 IBM Corporation, Embarcadero Technologies, and others.
 All rights reserved.   This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html

 Contributors: 
   IBM - initial API and implementation
   Kenn Hussey (Embarcadero Technologies) - 208016, 204200, 247980

 $Id: plugin.xml,v 1.8 2009/03/13 20:34:29 khussey Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/uml2/1.1.0/GenModel" 
       class = "org.eclipse.uml2.codegen.ecore.genmodel.GenModelPackage"/>
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/uml2/2.2.0/GenModel" 
       class = "org.eclipse.uml2.codegen.ecore.genmodel.GenModelPackage"
       genModel = "model/GenModel.genmodel"/>
  </extension>

  <extension point="org.eclipse.emf.codegen.ecore.generatorAdapters">
    <adapterFactory
       modelPackage = "http://www.eclipse.org/uml2/2.2.0/GenModel" 
       class="org.eclipse.uml2.codegen.ecore.genmodel.generator.GenModelGeneratorAdapterFactory"/>
    <adapterFactory
       modelPackage = "http://www.eclipse.org/uml2/2.2.0/GenModel" 
       class="org.eclipse.uml2.codegen.ecore.genmodel.generator.UML2GenModelGeneratorAdapterFactory"/>
  </extension>

  <extension
        point="org.eclipse.core.contenttype.contentTypes">
     <content-type
           base-type="org.eclipse.emf.codegen.genmodel"
           file-extensions="genmodel"
           id="org.eclipse.uml2.genmodel"
           name="%_UI_GenModel_content_type"
           priority="normal">
        <describer
              class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
           <parameter
                 name="namespacePattern"
                 value="http://www\.eclipse\.org/uml2/(1\.1\.0|2\.2\.0)/GenModel" />
           <parameter
                 name="kind"
                 value="xmi" />
        </describer>
     </content-type>
     <content-type
           base-type="org.eclipse.uml2.genmodel"
           file-extensions="genmodel"
           id="org.eclipse.uml2.genmodel_1_1_0"
           name="%_UI_GenModel_1_1_0_content_type"
           priority="normal">
        <describer
              class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
           <parameter
                 name="namespace"
                 value="http://www.eclipse.org/uml2/1.1.0/GenModel" />
           <parameter
                 name="kind"
                 value="xmi" />
        </describer>
     </content-type>
     <content-type
           base-type="org.eclipse.uml2.genmodel"
           file-extensions="genmodel"
           id="org.eclipse.uml2.genmodel_2_2_0"
           name="%_UI_GenModel_2_2_0_content_type"
           priority="normal">
        <describer
              class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
           <parameter
                 name="namespace"
                 value="http://www.eclipse.org/uml2/2.2.0/GenModel" />
           <parameter
                 name="kind"
                 value="xmi" />
        </describer>
     </content-type>
  </extension>

</plugin>
