<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2005, 2014 IBM Corporation, Embarcadero Technologies, CEA, and others.
 All rights reserved.   This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html

 Contributors: 
   IBM - initial API and implementation
   Kenn Hussey (Embarcadero Technologies) - 215488
   Kenn Hussey (CEA) - 327039, 418466

-->

<plugin>

  <extension
     point="org.eclipse.emf.ecore.uri_mapping">
    <mapping
       source="pathmap://UML_LIBRARIES/"
       target="platform:/plugin/org.eclipse.uml2.uml.resources/libraries/">
    </mapping>
  </extension>

  <extension
     point="org.eclipse.emf.ecore.uri_mapping">
    <mapping
       source="pathmap://UML_METAMODELS/"
       target="platform:/plugin/org.eclipse.uml2.uml.resources/metamodels/">
    </mapping>
  </extension>

  <extension
     point="org.eclipse.emf.ecore.uri_mapping">
    <mapping
       source="pathmap://UML_PROFILES/"
       target="platform:/plugin/org.eclipse.uml2.uml.resources/profiles/">
    </mapping>
  </extension>

  <extension
     point="org.eclipse.uml2.uml.dynamic_package">
    <profile uri="http://www.eclipse.org/uml2/schemas/Ecore/5" location="pathmap://UML_PROFILES/Ecore.profile.uml#_0"/>
  </extension>

  <extension
     point="org.eclipse.uml2.uml.dynamic_package">
    <profile uri="http://www.eclipse.org/uml2/schemas/UML2/2" location="pathmap://UML_PROFILES/UML2.profile.uml#_0"/>
  </extension>

</plugin>
