<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2004, 2005 IBM Corporation and others.
 All rights reserved.   This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html

 Contributors: 
   IBM - initial API and implementation

 $Id: plugin.xml,v 1.9 2005/06/09 02:34:28 khussey Exp $
-->

<plugin>

  <extension
     point="org.eclipse.emf.ecore.uri_mapping">
    <mapping
       source="pathmap://UML2_LIBRARIES/"
       target="platform:/plugin/org.eclipse.uml2.resources/libraries/">
    </mapping>
  </extension>

  <extension
     point="org.eclipse.emf.ecore.uri_mapping">
    <mapping
       source="pathmap://UML2_METAMODELS/"
       target="platform:/plugin/org.eclipse.uml2.resources/metamodels/">
    </mapping>
  </extension>

  <extension
     point="org.eclipse.emf.ecore.uri_mapping">
    <mapping
       source="pathmap://UML2_PROFILES/"
       target="platform:/plugin/org.eclipse.uml2.resources/profiles/">
    </mapping>
  </extension>

</plugin>
