<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2006, 2008 IBM Corporation, Embarcadero Technologies, and others.
 All rights reserved.   This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html

 Contributors: 
   IBM - initial API and implementation
   Kenn Hussey (Embarcadero Technologies) - 226102

 $Id: plugin.xml,v 1.6 2008/04/09 14:37:18 khussey Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.importer.modelImporterDescriptors">
    <modelImporterDescriptor
       id="org.eclipse.uml2.uml.ecore.importer"
       name="%_UI_UMLImporter_label"
       icon="platform:/plugin/org.eclipse.uml2.uml.editor/icons/full/obj16/UMLModelFile.gif"
       extensions="uml,UML,uml2,UML2,xmi,XMI,cmof,CMOF"
       description="%_UI_UMLModelImporter_description"
       wizard="org.eclipse.uml2.uml.ecore.importer.ui.UMLImporterWizard"/>
  </extension>	

  <extension id="UML2GenModel" point="org.eclipse.core.runtime.applications">
    <application>
      <run class="org.eclipse.uml2.uml.ecore.importer.UMLImporterApplication"/>
    </application>
  </extension>

  <extension point="org.eclipse.ant.core.extraClasspathEntries">
    <extraClasspathEntry library="ant_tasks/uml2.uml.ecore.importer.tasks.jar"/>
  </extension>

  <extension point="org.eclipse.ant.core.antTasks">
    <antTask library="ant_tasks/uml2.uml.ecore.importer.tasks.jar" name="uml2.UML2Java" headless="true" class="org.eclipse.uml2.uml.ecore.importer.taskdefs.UMLGeneratorTask"/>
  </extension>

</plugin>



