<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2006 IBM Corporation and others.
 All rights reserved.   This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html

 Contributors: 
   IBM - initial API and implementation

 $Id: plugin.xml,v 1.2 2006/05/25 16:42:17 khussey Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.importer.modelImporterDescriptors">
    <modelImporterDescriptor
       id="org.eclipse.uml2.uml.ecore.importer"
       name="%_UI_UMLImporter_label"
       icon="platform:/plugin/org.eclipse.uml2.uml.editor/icons/full/obj16/UMLModelFile.gif"
       extensions="uml,uml2,xmi"
       description="%_UI_UMLModelImporter_description"
       wizard="org.eclipse.uml2.uml.ecore.importer.ui.UMLImporterWizard"/>
  </extension>	

</plugin>



