<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
/*
 * Copyright (c) 2003, 2004 IBM Corporation and others.
 * All rights reserved.   This program and the accompanying materials
 * are made available under the terms of the Common Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/cpl-v10.html
 * 
 * Contributors: 
 *   IBM - Initial API and implementation
 *
 * $Id: plugin.xml,v 1.6 2004/05/22 01:28:24 khussey Exp $
 */
-->

<plugin
   id="org.eclipse.uml2.edit"
   name="%pluginName"
   version="1.0.0"
   provider-name="%providerName"
   class="org.eclipse.uml2.provider.UML2EditPlugin$Implementation">

   <runtime>
      <library name="uml2.edit.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.uml2.edit.internal.command,org.eclipse.uml2.edit.util,org.eclipse.uml2.provider"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.uml2" export="true"/>
      <import plugin="org.eclipse.emf.edit" export="true"/>
      <import plugin="org.eclipse.emf.ecore.change.edit"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
   </requires>

</plugin>
